<div class="home">
  <div class="banner d-flex flex-column align-items-center justify-content-center">
    <h1>Moodie</h1>
      <p class="text-end mt-3">Plus qu'une appli, un ami</p>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 col-lg-4 justify-content-center" id="citation">
        “La vie, ce n'est pas d'attendre que les orages passent,
        c'est d'apprendre à danser sous la pluie.”
      </div>
  </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 col-lg-4 text-center" id="question">
        <h2>Comment vas-tu aujourd'hui ?</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 col-lg-4 text-center ">
          <%= link_to "Je me sens ...", new_mood_path, class: "btn-sentiment text-dark mb-1" %>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10 col-lg-4 text-center">
        <img src= "<%= "https://res.cloudinary.com/dbggxy9uy/image/upload/v1743427407/Vector_3x_mjrnrw.png" %>" width="192" height="192"  class="logo " alt="Logo Moodie">
      </div>
    </div>
    </div>
</div>
