<%= render "shared/banner2" %>
<div class="ressources-container text-center">
  <div class="title-card"><h1>Près de chez moi</h1></div>
  <div class="justify-content-center">
    <div class="calendar-container col-12 col-lg-6">
      <% if @pres_de_chez_moi.any? %>
        <%= render 'list', ressources: @pres_de_chez_moi %>
      <% else %>
        <p class="text-muted">Aucun lieu trouvé à proximité de cette adresse.</p>
      <% end %>
    </div>
    <%= link_to "Retour aux ressources", ressources_path, class:"retour"%>
  </div>
</div>
