<%= render "shared/navbar" %>
<div class="ressources-container text-center">

  <div class="title-ressources mt-5">
    <h1>A proximité</h1>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= render @pres_de_chez_moi %>
    </div>
  </div>
  <%= link_to "Retour aux ressources", ressources_path, class: "btn btn-primary btn-sm mb-4" %>
</div>
