<%= render "shared/banner2" %>
<div class="container-musique text-center">
  <div class="title-card"><h1>Ma musique</h1></div>
   <div class="besoin">
      <span data-controller="typed" data-typed-sentences-value ='["De quelle playlist as-tu besoin?"]'></span>
    </div>
  <div class="musiques">
    <div class="musique-card ">
      <p><a href="https://www.youtube.com/watch?v=JnfqyASVii8&list=PL6w_CtlL0NtgvOrH5iaZ3rfvn7BhVCIzG" class = "text-dark text-decoration-none" target="_blank">Pour me motiver</a></p>
      <a href="https://www.youtube.com/watch?v=JnfqyASVii8&list=PL6w_CtlL0NtgvOrH5iaZ3rfvn7BhVCIzG" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
    <div class="musique-card">
      <p><a href = "https://youtube.com/playlist?list=PLuylFVhpBoHbPzOqEEdmemt8WJ2nv34sm&si=R4HcFh2h6ahAfpMs" class = " text-dark text-decoration-none" target = "_blank">Pour me détendre</a></p>
      <a href="https://youtube.com/playlist?list=PLuylFVhpBoHbPzOqEEdmemt8WJ2nv34sm&si=R4HcFh2h6ahAfpMs" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
     <div class="musique-card">
      <p><a href = "https://youtu.be/TepRqxy9IWc?si=IWxqaEUIzgcsB_5z" class = " text-dark text-decoration-none" target = "_blank">Pour me réveiller</a></p>
      <a href="https://youtu.be/TepRqxy9IWc?si=IWxqaEUIzgcsB_5z" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
    <div class="musique-card">
      <p><a href = "https://youtube.com/playlist?list=PL_Nwly7OeYUI-p9Vg2icFB82ontzjL_T6&si=3Qk70byzaFJSYQfx" class = " text-dark text-decoration-none" target = "_blank">Pour faire du sport</a></p>
      <a href="https://youtube.com/playlist?list=PL_Nwly7OeYUI-p9Vg2icFB82ontzjL_T6&si=3Qk70byzaFJSYQfx" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
  </div>
  <p class = "relaxation">Relaxation</p>
    <div class="relaxation-container">
      <div class="relaxation-card">
        <a href = "https://youtu.be/u-RAqt7p-3U" class = " text-dark text-decoration-none"  target = "_blank">Cohérence cardiaque</a>
        <a href="https://youtu.be/u-RAqt7p-3U"  target="_blank"><i class="fa-solid fa-circle-play"></i></a>
      </div>
      <div class="relaxation-card">
        <a href = "https://youtu.be/Id7NcfkXLfU?si=K_-URcqsIWllBguQ" class = " text-dark text-decoration-none" target = "_blank">Sons de la nature</a>
        <a href="https://youtu.be/Id7NcfkXLfU?si=K_-URcqsIWllBguQ" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
      </div>
    </div>
</div>
