<%= render "shared/banner2" %>
<div class="container-musique text-center">
  <div class="title-card"><h1>Ma musique</h1></div>
  <div class="musiques">
    <div class="musique-card ">
      <p>
        <a href="https://www.youtube.com/watch?v=JnfqyASVii8&list=PL6w_CtlL0NtgvOrH5iaZ3rfvn7BhVCIzG" class = "text-dark text-decoration-none" target="_blank">Pour me motiver</a>
      </p>
    </div>
    <div class="musique-card">
      <p>Pour me concentrer</p>
  </div>
    <div class="musique-card">
      <p>Pour danser</p>
    </div>
    <div class="musique-card">
      <p>Pour me reposer</p>
    </div>
    <div class="musique-card">
      <p> Pour me détendre</p>
    </div>
    <div class="musique-card">
      <p>Les sons de la nature</p>
    </div>
  </div>
</div>
