<%= render "shared/banner2" %>
<div class="container-musique text-center">
  <div class="title-card"><h1>Ma musique</h1></div>
   <div class="besoin">
      <p>De quelles musiques as-tu besoin ?</p>
    </div>
  <div class="musiques">
    <div class="musique-card ">
      <p><a href="https://www.youtube.com/watch?v=JnfqyASVii8&list=PL6w_CtlL0NtgvOrH5iaZ3rfvn7BhVCIzG" class = "text-dark text-decoration-none" target="_blank">Pour me motiver</a></p>
      <a href="https://www.youtube.com/watch?v=JnfqyASVii8&list=PL6w_CtlL0NtgvOrH5iaZ3rfvn7BhVCIzG" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
    <div class="musique-card">
      <p><a href = "#" class = " text-dark text-decoration-none" target = "_blank">Pour me détendre</a></p>
      <a href="#" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
     <div class="musique-card">
      <p><a href = "#" class = " text-dark text-decoration-none" target = "_blank">Pour me réveiller</a></p>
      <a href="#" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
    <div class="musique-card">
      <p><a href = "#" class = " text-dark text-decoration-none" target = "_blank">Pour faire du sport</a></p>
      <a href="#" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
  </div>
  <div class="relaxation">
       <div class="relaxation-card">
      <p><a href = "#" class = " text-dark text-decoration-none" target = "_blank">Cohérence cardiaque</a></p>
      <a href="#" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
    </div>
    <div class="relaxation-card">
      <p><a href = "#" class = " text-dark text-decoration-none" target = "_blank">Sons de la nature</a></p>
      <a href="#" target="_blank"><i class="fa-solid fa-circle-play"></i></a>
  </div>
  </div>
</div>
