<div class="container">
  <h1>Bonjour!</h1>
      <% if user_signed_in? %>
      <p> Bonjour <%= current_user.name %> </p>
      <%= link_to "Accéder au Menu", menu_path, class: "btn btn-primary" %>
      <% else %>
      <p><a href="<%= new_user_session_path %>">Connectez-vous</a> pour voir votre email.</p>
    <% end %>
</div>
