<div class="container">
  <h1>Menu</h1>
    <ul>
      <li><%= link_to "Journal", journal_posts_path %></li>
      <li><%= link_to "Calendrier", moods_path %></li>
      <li><%= link_to "Moodie", chat_path %></li>
      <li><%= link_to "Kit de secours", ressources_path %></li>
    </ul>
</div>
