.musiques {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  width: 100%;
  justify-items: center;
}

.musique-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  background-color: rgb(251, 192, 178);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  min-height: 100px;
  max-height: 100px;
  width: 180px;
  padding: 8px;
  font-family: quicksand;
  font-weight: bold;
  align-items: center;

  text-align: center;
}

.musique-card i.fa-solid {
  color: white;
  // color: rgb(233, 142, 141);
  font-size: 40px;
  font-weight: bolder;
}
.musique-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  align-self: center;
}
.container-musique {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
