.musiques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  width: 90%;
  justify-items: center;
}
.besoin {
  margin-top: 70px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 0px #7FA2B6, -4px -4px 0px #7FA2B6, 4px -4px 0px #7FA2B6, -4px 4px 0px #7FA2B6;
  position: relative;
  font-family: quicksand;
  font-weight: bold;
  background-color: #7FA2B6;
  color: white;
}
.besoin::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #7FA2B6;
}

.musique-card {
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  margin-right: 10px;
  border-radius: 20px;
  min-height: 100px;
  max-height: 100px;
  width: 180px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  background-color: rgb(251, 192, 178);
}

.musique-card i.fa-solid {
  color: white;
  font-size: 40px;
}
.musique-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  align-self: center;
}
.container-musique {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.relaxation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.relaxation-card {
  background-color: rgb(251, 192, 178);
  border-radius: 20px;
  border-radius: 20px;
  padding: 8px;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: 25px;
}
.relaxation-card i.fa-solid {
  color: white;
  font-size: 40px;
}
.relaxation-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  align-self: center;
}
