.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.bottom-navbar {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #7FA2B6;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.bottom-navbar .nav-link {
  width: 64px;
  color: white;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-navbar .nav-link i {
  font-size: 20px;
  margin-bottom: 2px;
}
