.ressource-card {
  background-color: rgba(251,192,178,0.9);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  padding: 5px;
}

.ressources-container {
  margin-top: 85px;
  padding-bottom: 85px;
}

.ressources-container h1 {
  border-color: black;
}

.title-ressources {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10 30px rgba(0, 0, 0, 0.1);
  border: 0.9px solid rgb(26, 24, 24);
  width: 550px;
  text-align: center;
  margin: 0 auto;
}

.retour {
  background-color:rgb(127, 162, 182);
  padding: 10px;
  color:white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.retour:hover {
  background-color: rgb(127, 162, 182);
  color: white;
}

@media (max-width: 768px) {
  .title-ressources {
    font-size: 2rem; /* Réduit la taille du titre sur les petits écrans */
    width: 380px;
  }
}

.ressources-input {
  border-radius: 20px;
}

#btn-ressource {
  border-radius: 4px;
}

#search-card {
  background-color: #7FA2B6;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  padding: 5px;
}
