.mon-calendrier {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10 30px rgba(0, 0, 0, 0.1);
  border: 0.9px solid rgb(26, 24, 24);
  width: 550px;
  text-align: center;
  position:absolute;
  top: 16%;
  left: 50%;
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .mon-calendrier {
    font-size: 2rem; /* Réduit la taille du titre sur les petits écrans */
    width: 400px;
  }
}
.calendar-container {
  margin-top: 60px;
}
.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Même hauteur pour tous */
}
.table tr{
  background-color: rgb(250, 209, 199);
  border-radius: 10px;
}
.icone-calendar {
  color: #4A4A4A;
}
.day-number {
  font-size: 16px;
  font-weight: bold;
}
.mood-circle-wrapper {
  height: 25px; /* Réserve de l'espace pour le cercle */
  display: flex;
  align-items: center;
  justify-content: center;
}
.mood-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.mood-circle.empty {
  background-color: white;
}
.calendar-title {
  font-size:24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#4A4A4A;
}
.table tr {
  border-radius: 8px;
}
.simple-calendar td {
  background-color: rgb(250, 209, 199);
  // padding: 10px;
  text-align: center;
}
