.calendar-container {
  margin-top: 50px;
  min-height: calc(100vh - 70px);
}
.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Même hauteur pour tous */
}
.table tr{
  background-color: rgb(250, 209, 199);
  border-radius: 10px;
}
.icone-calendar {
  color: #4A4A4A;
}
.day-number {
  font-size: 16px;
  font-weight: bold;
}
.mood-circle-wrapper {
  height: 25px; /* Réserve de l'espace pour le cercle */
  display: flex;
  align-items: center;
  justify-content: center;
}
// .mood-circle {
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
// }
.mood-circle.empty {
  background-color: white;
}

.table tr {
  border-radius: 8px;
}
.simple-calendar td {
  background-color: rgb(250, 209, 199);
  // padding: 10px;
  text-align: center;
}
.mood-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white; /* Fond blanc */
}

.mood-emoji {
  width: 100%;
  height: auto;
  max-width: 35px;
}
