.calendar-container {
  margin-top: 50px;
  min-height: 75vh;
}
.calendar-heading {
  margin-top: 85px;
}
.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px; /* Même hauteur pour tous */
}

.icone-calendar {
  color: #4A4A4A;
}
.day-number {
  font-size: 16px;
  font-weight: bold;
}
.mood-circle-wrapper {
  height: 25px; /* Réserve de l'espace pour le cercle */
  display: flex;
  align-items: center;
  justify-content: center;
}
// .mood-circle {
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
// }
.mood-circle.empty {
  background-color: white;
}

.table th {
  color :white;
   background-color: #7FA2B6
 }
.simple-calendar td {
  background-color: rgb(251, 192, 178);
  // padding: 10px;
  text-align: center;
}
.mood-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white; /* Fond blanc */
}

.mood-emoji {
  width: 100%;
  height: auto;
  max-width: 35px;
}
// reponsive design
@media (max-width: 768px) {
  .calendar-container {
    width: 90%;  // Réduit la largeur du calendrier
    margin: 20px auto; // Centre le calendrier
  }

  .simple-calendar table {
    font-size: 12px; // Réduit la taille du texte des jours
  }

  .day-container {
    height: 50px; // Réduit l’espace vertical entre les jours
  }

  .day-number {
    font-size: 12px; // Réduit la taille des numéros de jour
  }

  .table th {
   color :white;
    background-color: #7FA2B6
  }

  .mood-circle {
    width: 25px; // Réduit la taille des cercles d'humeur
    height: 25px;
  }

  .mood-emoji {
    max-width: 20px; // Réduit la taille des emojis
  }
}
