.home {
background-color: rgb(127, 162, 182);
opacity: .9;
min-height: calc(100vh - 70px);
}

.new-mood {
  position: relative;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 80%;
  margin-top: 15px;
  max-width: 80%;
  display: inline-block;
}
.new-mood::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
}
.new-mood h1{
  font-family: "Quicksand", sans-serif;

}

.citation {
  // position: absolute;
  // bottom: 50%;
  // left: 50%;
  background-color: rgb(251, 192, 178);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 0.9px solid rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  text-align: center;
//  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

}
.question-container {
  margin-top: 30px;
}
.question {
  padding: 10px;
  max-width: 400px;
  width: auto;
  border-radius: 48px 0;
  // background-color: rgb(251, 192, 178);
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border: solid 0.8px rgb(42, 40, 40);
  display: inline-block;
  text-align: center;
}


.mood-text {
  font-family: "Reenie Beanie", cursive;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 3px;
}
.btn-menu {
  text-decoration: none;
  border: 1px solid #cae1ea;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 28px;
  color: rgb(56, 54, 54);
}
#mood-slider {
  width: 100%;
}
/* Style du slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: black;
  border-radius: 5px;
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: rgb(233, 142, 141);
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(233, 142, 141);
  border-radius: 50%;
  cursor: pointer;
}
.btn-new-mood {
  background-color: rgb(251, 192, 178);
  border-radius: 4px;
  padding:8px;
  border: none;
}
/* Style pour le cercle */
#color-display {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

//  reponsive design
@media (max-width: 992px) {
  .citation-container {
    position: relative; /* Maintient un positionnement contrôlé */
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .citation {
    position: relative; /* Change absolute en relative */
    bottom: auto; /* Supprime la contrainte de `bottom: 5px;` */
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  [data-color-on-moods-target="emotji"] {
    width: 70px;  /* Augmente la taille de l'emoji */
    height: 70px;
  }

  /* S'assurer que les éléments restent bien alignés */
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [data-color-on-moods-target="colorDisplay" ] {
    width: 20 px;  /* Ajuste la taille du cercle de couleur */
    height: 20px;

  }
  /* Si tu veux que le texte s'ajuste avec l'emoji */
  .mood-text {
    font-size: 1.2rem; /* Ajuste la taille du texte si besoin */
    margin-left: 10px;  /* Ajoute un petit espace entre l'emoji et le texte */
    text-align: center;
  }
}
