.home{
background-color: rgb(127, 162, 182);
opacity: .9;
}
.new-mood {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 80%;
  margin-top: 15px;
  max-width: 80%;
  display: inline-block;

}

.new-mood::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
}

.new-mood h1{
  font-family: "Quicksand", sans-serif;

}

// #citation-container{
//   position: relative;
// }
// .citation{
//   background-color: white;

//   padding: 20px;
//   border-radius: 8px;
//   box-shadow: 0 10px 30px rgb(127, 162, 182);
//   width: 40%;
//   max-width: 40%;
//   font-family: "Quicksand", sans-serif;
//   font-size: 16px;
//   position: absolute;
//   bottom: - 40px;
// }
// .citation {
//   background: linear-gradient(135deg, #ff9a9e, #fad0c4);
//   padding: 20px;
//   border-radius: 12px;
//   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
//   color: white;
//   font-weight: bold;
// }
#citation-container {
  position: relative;

}

.citation {
  position: absolute;
  max-width: 40%;
  background-color:  #fad0c4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  bottom: -40px;
  text-align: center;
}

.question-container {
  margin-top: 30px;
}

.question {
  padding: 10px;
  max-width: 400px;
  width: auto;
  border-radius: 48px 0;
  // background-color: rgb(251, 192, 178);
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  border: solid 0.8px rgb(42, 40, 40);
  display: inline-block;
  text-align: center;
}

.text-center {
  text-align: center;
}
.mood-text{
  font-family: "Reenie Beanie", cursive;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 3px;
}
.btn-menu {
  text-decoration: none;
  border: 1px solid #cae1ea;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 28px;
  color: rgb(56, 54, 54);
}

#mood-slider{
  width: 100%;
}
/* Style du slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: black;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  background: rgb(233, 142, 141);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(233, 142, 141);
  border-radius: 50%;
  cursor: pointer;
}
.btn-new-mood{
  background-color: rgb(251, 192, 178);
  border-radius: 4px;
  padding:8px;
  border: none;
}
/* Style pour le cercle */
#color-display {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
