.home {
  background-color: rgb(127, 162, 182);
  opacity: .9;
  // min-height: calc(100vh - 90px);
  position : relative;
  }
.container-question {
  min-height: calc(100vh - 70px);
}
  #citation {
    position: absolute;
    bottom: 47%;
    left: 32%;
    background-color: rgb(251, 192, 178);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: playfair;
    font-size: 16px;

  }
  #question {
    color: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
    // rgb(219, 219, 219)
    // rgb(199, 200, 204)
    border: 3px solid rgb(219, 219, 219) ;
    box-shadow: 4px 4px 0px rgb(219, 219, 219), -4px -4px 0px rgb(219, 219, 219), 4px -4px 0px rgb(219, 219, 219), -4px 4px 0px rgb(219, 219, 219);
    position: relative;
    font-family: quicksand;
    font-weight: bold;
  }

  /* Ajout d'un petit triangle pour l'effet bulle BD */
  #question::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid rgb(219, 219, 219);
  }
  .logo  {
  margin-top: 40px;
  }
// responsive design
@media (max-width: 992px) {
  .home {
    padding: 20px;
    text-align: center;
  }

  #citation {
    position: absolute; // Change absolute en relative pour s'adapter à la taille de l'écran
    bottom: 58%; // Ajuste la position pour les petits écrans
    left: 18%; // Centre horizontalement
    margin: 5px auto; // Centre le texte automatiquement
    width: 65%; // Adapte la taille de la citation
    font-size: 0.9rem; // Réduit la taille du texte pour les petits écrans
  }

  #question {
    width: 90%; // S'assure que le texte ne dépasse pas
    font-size: 1.2rem;
  }
}
