#mood-slider{
  width: 100%;
}
/* Style du slider */
input[type="range"] {
  -webkit-appearance: none; /* Enlève le style par défaut pour Safari */
  appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

/* Style pour le cercle */
#color-display {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

